.itemcard{
    width: 270px;
    text-align: center;

}



ul{
    list-style-type: none;
}

li{
    display: inline-block;
    position: flex;
    list-style-position:outside;
    margin-right:25px;
    margin-bottom: 25px;
}
